@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

@import 'tailwindcss' source(none);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../public/components';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Google Sans Flex', sans-serif;
}
